In [1]:
pip install python-dotenv

Requirement already satisfied: python-dotenv in /opt/conda/lib/python3.8/site-packages (0.15.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import os
from dotenv import load_dotenv

load_dotenv()

True

# Connexion à la base de données Mongo

In [7]:
from pyspark.sql import SparkSession

spark = (SparkSession
    .builder
    .appName("myApp2") 
    .config("spark.mongodb.input.uri", os.getenv('MONGO_URL')) 
    .config("spark.mongodb.input.collection", 'data')  
    .config("spark.jars.packages","org.mongodb.spark:mongo-spark-connector_2.12:3.0.1")
    .getOrCreate())

In [8]:
df = spark.read.format("mongo").load()

## Nombre total de derniers articles

In [5]:
df.count()

270

## Les 10 derniers articles

In [ ]:
latest_articles = df.take(10)
latest_articles

## Les auteurs avec leurs catégories

In [9]:
spark.catalog.dropTempView("article_table")
df.createTempView("article_table")
spark.sql("SELECT DISTINCT(author), category FROM article_table").collect()

[Row(author='Valarie Honeycutt Spears', category=['kentucky']),
 Row(author='[{"@type":"Person","name":"Kit Stone","url":"https://www.buzzfeed.com/bykitstone","jobTitle":"BuzzFeed Staff"}]', category=['lifestyle']),
 Row(author='Dustin Jones', category=['health', 'lifestyle']),
 Row(author='Katie Rice', category=['general']),
 Row(author='goodhousekeeping', category=['lifestyle']),
 Row(author='[{"@type":"Person","name":"waltersava","url":"https://www.buzzfeed.com/waltersava","jobTitle":"Community Contributor"}]', category=['lifestyle']),
 Row(author='Claudia Grisales', category=['politics', 'world']),
 Row(author='Globe Newswire', category=['finance']),
 Row(author='Matthew Hallett', category=['regional', 'oklahoma']),
 Row(author='@NatGeoUK', category=['regional']),
 Row(author='Ben Hsu', category=['regional']),
 Row(author='digitaljournal', category=['general']),
 Row(author='@BrianCoz', category=['general']),
 Row(author='associated-press', category=['media', 'lifestyle']),
 Row(author='Matt Trotter', category=['regional', 'oklahoma']),
 Row(author='Kenneth C. Crowe II', category=['regional', 'albany', 'new-york']),
 Row(author='FOX13 Memphis News Staff', category=['regional', 'nashville', 'tennessee']),
 Row(author='Bloomberg', category=['business', 'economy']),
 Row(author='Chantel Delulio', category=['regional']),
 Row(author='Ana Diaz', category=['regional']),
 Row(author='ngartrell@bayareanewsgroup.com', category=['regional']),
 Row(author='Patrick Conn', category=['regional', 'oklahoma']),
 Row(author='Jason Aycock, SA News Editor', category=['regional']),
 Row(author='Anna Rose', category=['music', 'film']),
 Row(author='@news8news', category=['regional', 'oklahoma']),
 Row(author='Meg Adonis', category=['metro', 'society']),
 Row(author='@ingridlunden', category=['general']),
 Row(author='Kelsey McCarson', category=['regional']),
 Row(author='@CTVNews', category=['general']),
 Row(author='google', category=['regional']),
 Row(author='Riley Jones', category=['regional']),
 Row(author='Anchorage Daily News', category=['regional', 'oklahoma']),
 Row(author='', category=['general']),
 Row(author='ABC News', category=['sports']),
 Row(author='Megan Johnson', category=['finance']),
 Row(author='David Rodeck', category=['finance']),
 Row(author='Dillon Richards', category=['regional', 'oklahoma']),
 Row(author='associated-press', category=['lifestyle']),
 Row(author='Jacklyn Chappell', category=['regional', 'oklahoma']),
 Row(author='Jennifer Ouellette', category=['technology']),
 Row(author='@nypostsports', category=['general']),
 Row(author='Doyle Rice, USA TODAY', category=['regional']),
 Row(author='Natasha Mascarenhas', category=['general']),
 Row(author='Josh Taylor', category=['technology']),
 Row(author='Gabriel Kinder', category=['general']),
 Row(author='Morgan Eads', category=['kentucky']),
 Row(author='cnn', category=['general']),
 Row(author='Josh Moore', category=['kentucky']),
 Row(author='Billy House, Emily Wilkins', category=['regional', 'oklahoma']),
 Row(author='Larry Rulison', category=['regional', 'albany', 'new-york']),
 Row(author='@anthonyha', category=['general']),
 Row(author='Ramishah Maruf, CNN Business', category=['finance']),
 Row(author='Jordan Zakarin', category=['regional']),
 Row(author='techmeme', category=['technology']),
 Row(author='phoronix', category=['technology', 'programming']),
 Row(author='[{"@type":"Person","name":"catrina2005","url":"https://www.buzzfeed.com/catrina2005","jobTitle":"Community Contributor"}]', category=['lifestyle']),
 Row(author='Chris Trevino', category=['regional', 'oklahoma']),
 Row(author='Matthew Lenix', category=['regional', 'oklahoma']),
 Row(author='Carol Robinson | crobinson@al.com', category=['regional', 'nashville', 'tennessee']),
 Row(author='@bheater', category=['general']),
 Row(author='Jared Peck', category=['kentucky']),
 Row(author='Bubalo, Branko', category=['academic', 'ECON']),
 Row(author='VOA Learning English', category=['world']),
 Row(author='Rick Karlin', category=['regional', 'albany', 'new-york']),
 Row(author='straitstimes', category=['world']),
 Row(author='[{"@type":"Person","name":"Morgan Sloss","url":"https://www.buzzfeed.com/morgansloss1","jobTitle":"BuzzFeed Staff"}]', category=['lifestyle']),
 Row(author='Catherine Sweeney', category=['regional', 'oklahoma']),
 Row(author='ABC News', category=['regional', 'oklahoma']),
 Row(author='Mark Singelais', category=['regional', 'albany', 'new-york']),
 Row(author='Swapnil Dhruv Bose', category=['regional']),
 Row(author='@NYPost_Schwartz', category=['general']),
 Row(author='@http://twitter.com/JoeBuettner', category=['regional', 'oklahoma']),
 Row(author='@nypost', category=['general']),
 Row(author='Dan Caplinger', category=['finance']),
 Row(author='Catherine Garcia', category=['general']),
 Row(author='@usnavy', category=['regional']),
 Row(author='Henry, Marc', category=['academic', 'ECON']),
 Row(author='Ferman, Bruno', category=['academic', 'ECON']),
 Row(author='[{"@type":"Person","name":"Spencer Althouse","url":"https://www.buzzfeed.com/spenceralthouse","jobTitle":"BuzzFeed Staff"}]', category=['lifestyle']),
 Row(author='@dannycrichton', category=['general']),
 Row(author='The Phoblographer', category=['regional']),
 Row(author='Connor Mannion', category=['general']),
 Row(author='Salanié, Bernard', category=['academic', 'ECON']),
 Row(author='Jeff Bailey', category=['general']),
 Row(author='Motley Fool Transcribers', category=['regional']),
 Row(author='Brooke Wolford', category=['kentucky']),
 Row(author='CNA', category=['sports']),
 Row(author='', category=['regional']),
 Row(author='Jonathan Shieber', category=['general']),
 Row(author='Jan Wolfe', category=['regional']),
 Row(author='Julie Iannuzzi', category=['regional']),
 Row(author='voanews', category=['world']),
 Row(author='WRAL', category=['regional', 'nashville', 'tennessee']),
 Row(author='flipboard', category=['finance']),
 Row(author='TipRanks', category=['finance']),
 Row(author='Business staff', category=['regional', 'albany', 'new-york']),
 Row(author='Paul Nelson', category=['regional', 'albany', 'new-york']),
 Row(author='SeekingAlpha.com', category=['business', 'finance']),
 Row(author='@tayhatmaker', category=['general']),
 Row(author='CBS News', category=['general']),
 Row(author='Reuters', category=['finance']),
 Row(author='Herb Terns', category=['regional', 'albany', 'new-york']),
 Row(author='Amanda Fries', category=['regional', 'albany', 'new-york']),
 Row(author='Ryan Aber', category=['regional', 'oklahoma']),
 Row(author='Mary Ann Azevedo', category=['general']),
 Row(author='@chelseahirsch', category=['general']),
 Row(author='@techcrunch', category=['general']),
 Row(author='Galichon, Alfred', category=['academic', 'ECON']),
 Row(author='Pete Dougherty', category=['regional', 'albany', 'new-york']),
 Row(author='[{"@type":"Person","name":"Joyann Jeffrey","url":"https://www.buzzfeed.com/joyannjeffrey","jobTitle":"BuzzFeed Staff"}]', category=['lifestyle'])]

## Les articles par auteur

In [ ]:
spark.catalog.dropTempView("article_table")
df.createTempView("article_table")
spark.sql("SELECT author, title, description FROM article_table GROUP BY author, title, description").collect()

In [ ]:
spark.catalog.dropTempView("article_table")
df.createTempView("article_table")
spark.sql("SELECT author,COUNT(*) as articles FROM article_table GROUP BY author").show()

## Les articles publiés le jour d’un événement particulier

In [ ]:
df.filter(df.published == '2021-02-03 21:57:22 +0000').collect()